/* 	THEME COLOURS
--------------------------------
	- Main Purple  		1D1128 |
	- Light Purple  	4B2142 |
	- Green  			96A13A |
	- Violet  			6D72C3 |
	- Light Lavender	E5D4ED |
--------------------------------
*/

:root {
    --main-purple: #1d1128;
    --light-purple: #4b2142;
    --green: #96a13a;
    --violet: #6d72c3;
    --light-lavender: #e5d4ed;
}

body {
    margin: 0px;
}

a {
    text-decoration: none;
    color: var(--violet);
    font-size: 20px;
    transition: all 0.2s;
}

.flex-container {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: left;
}

.navbar {
    background-color: var(--violet);
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 5000;
}

.nav-btn {
    background-color: white;
    height: 50px;
    width: 100%;
    padding: 0px 25px 0px 25px;
    border-radius: 25px;
    border: none;
}

.logo {
    height: 50px;
    margin: 0px;
    padding: 0px;
}

.logo-box {
    height: 50px;
}

.box {
    /* height: 50px; */
    margin-left: 10px;
}

.nav-bubble:hover .nav-btn a {
    font-size: 30px;
    color: var(--green);
}

.bg-image {
    width: 100%;
    position: fixed;
    z-index: 1;
    top: calc();
}

.fg-image {
    width: 100%;
    position: relative;
    z-index: 2;
    top: -500px;
}
